* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px 0 0 0;
  font: 15px/1.6 Helvetica, Arial, sans-serif;
}

section {
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: 75px;
}

h3 {
  margin: 0;
}

p {
  margin: 0 0 15px 0;
}

.chart circle {
  fill: #1478F0;
}
.chart circle.actual {
  fill: #1478F0;
}
.chart circle.forecast {
  fill: #999;
}
.chart .line {
  stroke-width: 1px;
  fill: none;
  stroke: #1478F0;
}
.chart .line-actual {
  stroke: #1478F0;
}
.chart .line-forecast {
  stroke: #999;
}
.chart .x.axis .tick text {
  font-size: 12px;
  fill: #d2d2d2;
}
.chart .y.axis .tick text {
  font-size: 14px;
  fill: #d2d2d2;
}
.chart .x.axis path, .chart .x.axis line {
  stroke-width: 1px;
  stroke: #d8d8d8;
}
.chart .y.axis path {
  display: none;
}
.chart .y.axis line {
  stroke-width: 1px;
  stroke: #d8d8d8;
}

.chart .move-line.y {
  stroke: #333;
  stroke-width: 1px;
  stroke-dasharray: 3, 3;
}
.chart .move-line.x {
  stroke: #1478F0;
  stroke-width: 1px;
}
